<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 장바구니 상품 총 갯수 조회 -->
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM CART
	</entry>

	<!-- 장바구니 상품 목록 조회 -->
	<entry key="getCartList">
		SELECT c.CART_NO, 
		       c.PRODUCT_QUANTITY, 
		       c.USER_NO, 
		       c.PRODUCT_NO, 
		       p.PRODUCT_NAME, 
		       p.PRICE AS "ORIGINAL_PRICE", 
		       p.PRICE * (1 - p.DISCOUNT / 100) AS "DISCOUNTED_PRICE", 
		       i.IMAGE_URL || i.IMG_SAVE_FILE AS "TITLEIMG"
		  FROM CART c
		  JOIN PRODUCT_INFO p ON c.PRODUCT_NO = p.PRODUCT_NO
		  LEFT JOIN PRODUCT_IMAGE i ON p.PRODUCT_NO = i.REF_PNO 
		   AND i.THUMBNAIL = 'Y'
		   AND i.DELETE_YN = 'N'
		  WHERE c.USER_NO = ?
	</entry>

	
	<!-- 장바구니 상품 삭제 -->
	<entry key="deleteCartItem">
	    DELETE
	      FROM CART
	     WHERE CART_NO = ?
	</entry>
	
	<!-- 장바구니 상품 추가 -->
	<entry key="addToCart">
	    INSERT INTO CART (CART_NO, USER_NO, PRODUCT_NO, PRODUCT_QUANTITY, TOTAL_PRICE) 
	    VALUES (SEQ_CNO.NEXTVAL, ?, ?, ?, ?)
	</entry>
	
	<!-- 장바구니 상품 수량 업데이트 -->
	<entry key="updateCartQuantity">
	    UPDATE CART
	       SET PRODUCT_QUANTITY = ?
	     WHERE CART_NO = ?
	</entry>

	<!-- 장바구니 상품 총 가격 조회 -->
	<entry key="getCartTotalPrice">
	    SELECT PRODUCT_QUANTITY * (SELECT PRICE FROM PRODUCT_INFO WHERE PRODUCT_NO = 
	    (SELECT PRODUCT_NO FROM CART WHERE CART_NO = ?)) AS TOTAL_PRICE 
	    FROM CART WHERE CART_NO = ?
	</entry>
	
	
</properties>

