<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 공지사항 총 갯수 조회용 쿼리문 -->
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM NOTICE
		 WHERE NOTICE_DELETE_YN = 'N'
	</entry>

	<!-- 공지사항 목록 조회용 쿼리문 -->
	<entry key="selectNoticeList">
		SELECT *
		  FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (
		        SELECT NOTICE_NO
		        	 , NOTICE_TITLE
		             , NOTICE_CREATE_AT
		          FROM NOTICE
		         WHERE NOTICE_DELETE_YN = 'N'
		         ORDER BY NOTICE_NO DESC
		      ) A
		  )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 공지사항 조회수 증가용 쿼리문 -->
	<entry key="increaseCount">
		UPDATE NOTICE
		   SET NOTICE_VIEW_COUNT = NOTICE_VIEW_COUNT + 1
		 WHERE NOTICE_NO = ?
		   AND NOTICE_DELETE_YN = 'N'
	</entry>
	
	<!-- 공지사항 상세조회용 쿼리문 -->
	<entry key="selectNotice">
		SELECT NOTICE_NO
			 , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , NOTICE_VIEW_COUNT
		     , NOTICE_CREATE_AT
		     , NOTICE_FILE_NAME
		     , NOTICE_UPDATE_FILE
		     , NOTICE_FILE_SIZE
		     , NOTICE_FILE_PATH
		  FROM NOTICE
		 WHERE NOTICE_NO = ?
		   AND NOTICE_DELETE_YN = 'N'
	</entry>
	
	<!-- 공지사항 작성용 쿼리문 -->
	<entry key="insertNotice">
		INSERT INTO NOTICE(NOTICE_NO
		                 , NOTICE_TITLE
		                 , NOTICE_CONTENT
		                 , NOTICE_FILE_NAME
		                 , NOTICE_UPDATE_FILE
		                 , NOTICE_FILE_SIZE
		                 , NOTICE_FILE_PATH)
		            VALUES(SEQ_NNO.NEXTVAL
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?
		                 , ?)
	</entry>
	
	<!-- 공지사항 수정용 쿼리문 -->
	<entry key="updateNotice">
	    UPDATE NOTICE
	       SET NOTICE_TITLE = ?,
	           NOTICE_CONTENT = ?,
	           NOTICE_FILE_NAME = CASE WHEN ? IS NULL THEN NULL ELSE ? END,
	           NOTICE_UPDATE_FILE = CASE WHEN ? IS NULL THEN NULL ELSE ? END,
	           NOTICE_FILE_SIZE = CASE WHEN ? = 0 THEN NULL ELSE ? END,
	           NOTICE_FILE_PATH = CASE WHEN ? IS NULL THEN NULL ELSE ? END
	     WHERE NOTICE_NO = ?
	       AND NOTICE_DELETE_YN = 'N'
	</entry>

	
	<!-- 공지사항 삭제용 쿼리문 -->
	<entry key="deleteNotice">
		UPDATE NOTICE
		   SET NOTICE_DELETE_YN = 'Y'
		 WHERE NOTICE_NO = ?
		   AND NOTICE_DELETE_YN = 'N'
	</entry>
	
</properties>

